<section class="forgot">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-right">
        <a routerLink="/login/" href=""><i class="material-icons close-btn pr-4 pt-4">close</i></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 text-center pt-4">
        <h1 class="font-white font-weight-bold py-4">¿Olvidaste tu contraseña?</h1>
        <form>
          <div class="form-group pt-4  text-left">
            <label class="font-white" for="usuario">Escribe tu correo electrónico para que podamos enviarte una nueva
              contraseña.</label>
            <input type="email" class="form-control" id="usuario" aria-describedby="usuario"
              placeholder="usuario@ejemplo.com.mx">
          </div>
          <div class="text-right py-4">
            <button type="submit" class="btn btn-light">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>