<section class="about">
  <div class="container-fluid">
    <div class="row align-items-center height-100vh">
      <div class="col-4">
        <img src="assets/images/logo_cicili.png" class="">
        <p class="text-general py-4">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
          euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis quis
          nostrud.</p>
        <img src="assets/images/about-set.png" class="about-set">
      </div>
      <div class="col-8 text-right">
      </div>
    </div>
    <div class="next-icon">
       <a href="" routerLink="/login/"> <i class="material-icons">arrow_forward_ios</i></a>
      </div>
  </div>
</section>