.about {
    background-image: url('/assets/images/bg_all.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}
.height-100vh {
    height: 100vh;  
}
.text-general {
    color: #ffffff;
}
.about-set {
    width: 70%;
}
.next-icon i {
    font-size: 55px;
    color: white;
    position: absolute;
    top: 40px;
    right: 50px;
}