.register {
    background-image: url('/assets/images/bg_register.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}
.height-100vh {
    height: 100vh;  
}
.form-control {
    color: #ffffff;
    background-color: #536382;

}
.close-btn {
    font-size: 55px;
    color: #536382;
}