<section class="register">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-right">
        <a routerLink="/login/" href=""><i class="material-icons close-btn pr-4 pt-4">close</i></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 text-center pt-4">
        <h1 class="font-gray display-2 font-weight-bold">Regístrate</h1>
        <form>
          <div class="form-group text-left">
            <label class="font-gray" for="usuario">Correo electrónico.</label>
            <input type="email" class="form-control" id="regMail" aria-describedby="usuario" placeholder="">
          </div>
          <div class="form-group text-left">
            <label class="font-gray" for="usuario">Teléfono</label>
            <input type="number" class="form-control" id="regTel" aria-describedby="usuario" placeholder="">
          </div>
          <div class="form-group text-left" style="width: 50%">
              <label class="font-gray" for="usuario">Número de autorización</label>
              <input type="number" class="form-control" id="regTel" aria-describedby="usuario" placeholder="">
            </div>
          <div class="text-right py-4">
            <button type="submit" class="btn btn-secondary">Registrarse</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>